<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>
        URL Shortner
    </h1>
    <div>
        <form method="POST" action="/url" >
            <label>Enter your URL</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button>Submit URL</button>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <th>S. No</th>
                <th>Short ID</th>
                <th>Origonal URL</th>
                <th>clicks</th>
            </thead>
            <tbody>
                <% info.forEach((url , index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= url.shortUrl %></td>
                        <td><%= url.origonalUrl %></td>
                        <td><%= url.urlAnalytics[url.urlAnalytics.length - 1].visits %></td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
        
    </div>
</body>
</html>